In [2]:
import os
import pandas as pd
#import

In [3]:
os.chdir('/home/presh/Documents')

In [39]:
df = pd.read_csv('agri.csv')

In [40]:
df.set_index('Region', inplace = True)

In [42]:
dff = df.loc[['China', 'Italy']]

In [43]:
dg =dff.transpose().reset_index()

In [44]:
pd.melt(dg, id_vars = ["index"])

   index Region       value
0   1961  China  58340740.0
1   1962  China  60690860.0
2   1963  China  63942700.0
3   1964  China  68462610.0
4   1965  China  74747900.0
..   ...    ...         ...
89  2003  Italy  23984610.0
90  2004  Italy  26710580.0
91  2005  Italy  26063090.0
92  2006  Italy  24948040.0
93  2007  Italy  24706710.0

[94 rows x 3 columns]

In [46]:
import numpy as np

In [50]:
np.arange(10).reshape((2,5))

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [1]:
dic = {'a': 1, 'b': 2, 'c' : 3}

In [13]:
if 'd' not in dic:
    dic['d'] = 111
dic.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [2]:
a = ""

In [3]:
if a != "":
    print(a)
else:
    print('Nil')

Nil

In [4]:
user_id  = a
cached_user_id = 'cccc'

In [7]:
if user_id != "":
        if user_id == 'NIL':
            print(user_id)
        else:
            if user_id in ['a', 'b', 'c', 'd']:
                print('its in')
            else:
                print('not in')
else:
    if cached_user_id == 'cache':
        print(cached_user_id)
    else:
        print("There's no cachedr_id")

NameError: name 'cached_user_id' is not defined